.header {
   display: flex;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color:#242424 ;
  
    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: #ddd;
      flex: 1;
    }
  
    .links {
      display: flex;
      width: 400px;
      ul {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
       justify-content: space-around;
      
     a{
        text-decoration: none;
        color: #ddd;
        transition: 0.5s ease;
        &:hover{
            color: beige;
            font-size: 1.7rem;
            transform: scale(1.1);
        }
        li {
            margin-right: 1rem;
            font-size: 1.5rem;
           
          }
     }
      
      }
    }
  }
  